Build/Build.pri
Build/BuildUtil.pyc
Build/Current-gen.ver
Libraries/PrlCommonUtilsBase/PrlStringifyConsts.cpp
**/Makefile*
!Makefile.version
!Libraries/PrlCommonUtils/build.win/Makefile
z-Build/

!XmlModel/VmConfig/CVmClusteredDevice.cpp
!XmlModel/VmConfig/CVmClusteredDevice.h
!XmlModel/VmConfig/CVmDevice.cpp
!XmlModel/VmConfig/CVmDevice.h
!XmlModel/VmConfig/CVmMassStorageDevice.cpp
!XmlModel/VmConfig/CVmMassStorageDevice.h
!XmlModel/VmConfig/CVmPort.cpp
!XmlModel/VmConfig/CVmPort.h
!XmlModel/VmConfig/CVmStartupOptions.cpp
!XmlModel/VmConfig/CVmStartupOptions.h
!XmlModel/VmConfig/CVmStorageDevice.cpp
!XmlModel/VmConfig/CVmStorageDevice.h
!XmlModel/VmConfig/VmConfigBase.pri

!XmlModel/VmDirectory/CVmDispatcherDump.cpp
!XmlModel/VmDirectory/CVmDispatcherDump.h
!XmlModel/VmDirectory/VmDirectory.pri

!XmlModel/HostHardwareInfo/CHostHardwareInfo.cpp
!XmlModel/HostHardwareInfo/CHostHardwareInfo.h
!XmlModel/HostHardwareInfo/CHwGenericDevice.cpp
!XmlModel/HostHardwareInfo/CHwGenericDevice.h
!XmlModel/HostHardwareInfo/CSystemStatistics.cpp
!XmlModel/HostHardwareInfo/CSystemStatistics.h
!XmlModel/HostHardwareInfo/HostHardwareInfoBase.pri

XmlModel/Appliance
XmlModel/AppLists
XmlModel/BackupTree
XmlModel/ClientPreferences
XmlModel/CpuFeatures
XmlModel/CtTemplate
XmlModel/DiskDescriptor
XmlModel/DiskImageInfo
XmlModel/DispConfig
XmlModel/GuestOsInformation
XmlModel/HostHardwareInfo
XmlModel/InterfaceInfo
XmlModel/IscsiStorage
XmlModel/KeyboardMouse
XmlModel/Licenses
XmlModel/Messaging
XmlModel/NetworkConfig
XmlModel/ProblemReport
XmlModel/Reports
XmlModel/Updater
XmlModel/UserInformation
XmlModel/VmConfig
XmlModel/VmDataStatistic
XmlModel/VmDirectory
XmlModel/VmInfo
XmlModel/XKeyMaps
